<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link href='https://fonts.googleapis.com/css?family=Inconsolata'
          rel='stylesheet'> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>CV | Timophey Akulich</title>
</head>
<body>
<div id="app">
    <header>
        <div class="row title">
            <div class="col col1 center no-print">
                <span class="avatar"></span>
            </div>
            <div class="col col6">
                <h1>Timophey Akulich</h1>
                <h2>Lead Software Engineer</h2>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col col2">
                <div class="group">
                    <h3>Profile</h3>
                    <p>
                        Experienced Web Developer with over 9 years of experience working for enterprise companies, startups and projects.;
                    </p>
                    <p>
                        Had experience with back-end (Python) and front-end (JavaScript) development;
                    </p>
                    <p>
                        Solid mathematics and computer science background;
                    </p>
                    <p>
                        Team lead experience, worked both in small and large teams, remote and onsite;
                    </p>
                    <p>
                        Excellent communication and conflict-solving skills;
                    </p>
                    <p>
                        Self-driven, creative, able to learn new technologies rapidly;
                    </p>
                    <p>
                        Highly organized and detail-oriented.
                    </p>
                </div>
                <div class="group">
                    <h3>Skills</h3>
                    <template v-for="name in skills">
                        <a :href="'https://www.google.com/search?q=' + name" target="_blank" class="skill">{{ name }}</a> /
                    </template>
                </div>
                <div class="group">
                    <h3>Personal details</h3>
                    <div>
                        <h4>Birth date</h4>
                        <p>12 / 12 / 1993</p>
                    </div>
                    <div>
                        <h4>Nationality</h4>
                        <p>Belarus</p>
                    </div>
                    <div>
                        <h4>Address</h4>
                        <p>Minsk, Belarus</p>
                    </div>
                </div>
                <div class="group">
                    <h3>Contact</h3>
                    <div class="margin5">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:tima.akulich@gmail.com"
                           target="_blank">tima.akulich@gmail.com</a>
                    </div>
                    <div class="margin5">
                        <i class="fab fa-telegram"></i>
                        <a href="https://t.me/akulich"
                           target="_blank">@akulich</a>
                    </div>
                    <div class="margin5">
                        <i class="fab fa-linkedin-in"></i>
                        <a href="https://www.linkedin.com/in/timophey-akulich"
                           target="_blank">linkedin</a>
                    </div>
                </div>
                <div class="group">
                    <p>More detailed information about my experience can be found in the <a href="https://akulich-cv.myportfolio.com" target="_blank">portfolio</a></p>
                </div>
            </div>
            <div class="col col6 print-margin">
                <div class="group">
                    <h3>Professional experience</h3>
                    <div class="experience">
                        <div v-for="company in companies" class="experience-item">
                            <div class="experience-item-content">
                                <div class="experience-item-company">
                                    <img class="company-logo" :src="company.logo">
                                    <h4>{{ company.position }}</h4>
                                    <a class="company-name" :href="company.url" target="_blank">{{ company.name }}</a>
                                    <span class="years">{{ company.years }}</span>
                                </div>
                                <div>
                                    <p class="no-margin responsibilities">Responsibilities:</p>
                                    <ul class="no-margin">
                                        <li v-for="responsibility in company.responsibilities">
                                            {{ responsibility }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="no-print" v-if="company.projects && company.projects.length">
                                    <button v-if="!opened" class="projects-button" @click="opened = company.id">
                                        <i class="fas fa-chevron-down"></i>
                                        Projects
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                    <button v-else  class="projects-button" @click="opened = null">
                                        <i class="fas fa-chevron-up"></i>
                                        Projects
                                        <i class="fas fa-chevron-up"></i>
                                    </button>
                                    <table v-if="opened === company.id" class="projects-table">
                                        <thead>
                                            <tr>
                                                <th class="project-column">Project</th>
                                                <th class="images-column">Images</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="project in company.projects">
                                                <td class="project-column">
                                                    {{ project.description }}
                                                </td>
                                                <td class="images-column">
                                                    <img class="image-preview" v-for="(image, i) in project.images" :src="image.url" :key="image.id" @click="index = image.id"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide print">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="group">
                    <h3>Education</h3>
                    <div class="experience">
                        <div v-for="university in education" class="experience-item">
                            <div class="experience-item-content">
                                <div class="experience-item-company">
                                    <img class="company-logo" :src="university.logo">
                                    <h4>{{ university.degree }}</h4>
                                    <h5>{{ university.name }}</h5>
                                    <span class="years">{{ university.years }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <vue-gallery-slideshow :images="allImages.map(image => image.url)" :index="index" @close="index = null"></vue-gallery-slideshow>
    <footer>
        <span>© Timophey Akulich / 2021</span>
        <a class="no-print top-button" href="#app"><i class="fas fa-chevron-up"></i></a>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/vue-gallery-slideshow"></script>
<script defer src="static/js/app.js"></script>
</body>
</html>
